<% provide(:title, "All Users") %>
  <h1>ユーザー一覧</h1>
  

<div class="pull-left">
  <%=  form_with model: @user do |f| %>
    <%= f.file_field :upload_file, class: "filearea" %> <!-- csvのみインポート可にする -->
    <%= f.submit "CSVをインポート", class: "btn btn-primary btn-block btn-basic-info" %>
  <% end %>
</div>


<!-- form_with url: users_path, method: :get, local: true -->

  